*.aux
*.toc
*.out
_minted-Main
*.fls
*.log
*.synctex.gz
*.fdb_latexmk
*.pyc
.vscode/settings.json
.Rproj.user
*.Rproj
*.Rhistory
.RData
P4DA-3rd/Codes/datasets/fec/P00000001-ALL.csv
P4F/data.pkl
*.npy
*.db
*.h5s
P4F/data.csv
P4F/numbers.csv
*.xlsx
*.h5
P4F/numbers.xlsx
R4DS/.vscode/settings.json
*.vscode
*.rds
*.user
_RData
_Rhistory
